
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<ion-tabs>

  <ion-tab-bar slot="bottom" style="margin-top: 120px;">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="children">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Mes enfants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="paiement">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Paiements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parametre">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
