<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Bienvenue, Aya !
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-image-container">
    <img src="assets/img/c424d6b90c65525224bdee3655183419.jpg" alt="Enfants apprenant sur un ordinateur portable">
  </div>

  <div class="ion-padding-horizontal">
    <h2 class="section-title">Action rapide</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="action-card" routerLink="/tabs/parrainage" routerDirection="forward">
            <ion-card-content>
              <ion-icon name="school-outline"></ion-icon>
              <ion-label>Parrainer un enfant</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="action-card" routerLink="/tabs/children" routerDirection="forward">
            <ion-card-content>
              <ion-icon name="people-outline"></ion-icon>
              <ion-label>Mes enfants</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card class="action-card" routerLink="/tabs/paiement" routerDirection="forward">
            <ion-card-content>
              <ion-icon color="primary" name="cash-outline"></ion-icon>
              <ion-label>Paiement</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="action-card" routerLink="/tabs/rapports" routerDirection="forward">
            <ion-card-content>
              <ion-icon name="bar-chart-outline"></ion-icon>
              <ion-label>Rapports</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h2 class="section-title">Votre impact en ce mois</h2>
    <ion-card class="impact-card" routerLink="/tabs/children" routerDirection="forward">
      <ion-card-content>
        <ion-card-title>Enfants pris en charge</ion-card-title>
        <p class="impact-number">3</p>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card-content>
    </ion-card>

    <ion-card class="impact-card">
      <ion-card-content>
        <ion-card-title>Financement Total</ion-card-title>
        <p class="impact-amount">300000 <span class="currency">FCFA</span></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
