<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card>
      <ion-item lines="none">
        <div class="notification-icon payment">
          <ion-icon name="cash-outline"></ion-icon>
        </div>
        <ion-label>
          <h2>Notification de paiement</h2>
          <p>Vous venez d'effectuer un paiement de 60,000 fc pour les frais d'inscription de Ali Touré</p>
        </ion-label>
        <span class="timestamp">il y a 2h 15min</span>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <div class="notification-icon report">
          <ion-icon name="document-text-outline"></ion-icon>
        </div>
        <ion-label>
          <h2>Notification de rapports</h2>
          <p>Vous venez de recevoir les rapports scolaires de la composition de Ali Touré</p>
        </ion-label>
        <span class="timestamp">il y a 2h 15min</span>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <div class="notification-icon payment">
          <ion-icon name="cash-outline"></ion-icon>
        </div>
        <ion-label>
          <h2>Notification de paiement</h2>
          <p>Vous venez d'effectuer un paiement de 60,000 fc pour les frais d'inscription de Ali Touré</p>
        </ion-label>
        <span class="timestamp">il y a 2h 15min</span>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <div class="notification-icon report">
          <ion-icon name="document-text-outline"></ion-icon>
        </div>
        <ion-label>
          <h2>Notification de rapports</h2>
          <p>Vous venez de recevoir les rapports scolaires de la composition de Ali Touré</p>
        </ion-label>
        <span class="timestamp">il y a 2h 15min</span>
      </ion-item>
    </ion-card>

  </ion-list>
</ion-content>
